{% include 'squelette.html.twig' %}

{% block contenu %}
	<section class="resume-section p-3 p-lg-5 d-flex d-column" id="home">
        <div class="my-auto">
          <h1 class="mb-0">Bienvenue sur mes dev en
            <span class="text-primary">Node</span>
          </h1>
			<br>
          <p class="mb-5">Pour l'instant je suis les tuto d'OpenClassRoom</p>
        </div>
      </section>
{% endblock %}